* {
  box-sizing: border-box;
}

:root {
  /* In hex per the design */
  --dark-blue: #5175FF;
  --light-blue: #829CFF;
  --dark-black: #25293A;
  --light-black: #333950;
  --grey: #747B95;
  --pinkish: #F05B5B;
  /* RGB conversion for use with opacity */
  --dark-blue-rgb: 81, 117, 255;
  --light-blue-rgb: 130, 156, 255;
  --dark-black-rgb: 37, 41, 58;
  --light-black-rgb: 51, 57, 80;
  --grey-rgb: 116, 123, 149;
  --pinkish-rgb: 240, 91, 91;
}

html {
  font-size: 16px;
  font-family: 'Kumbh Sans', sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 3.5rem;
  color: var(--light-black);
}

h2 {
  font-weight: 700;
  font-size: 1.25rem;
}

h3 {
  font-weight: 700;
  text-transform: uppercase;
}

body {
  color: var(--grey);
}

.body-container {
  overflow: hidden;
}

.btn {
  text-decoration: none;
  padding-block: 1.12rem;
  padding-inline: 3.4rem;
  border-radius: 1.75rem;
  font-weight: 700;
}

.btn-primary {
  color: #fff;
  background-color: var(--dark-blue);
}

.btn-primary:hover {
  background-color: var(--light-blue);
}

.btn-secondary {
  color: var(--dark-blue);
  background-color: rgba(var(--dark-blue-rgb), 0.15);
}

.btn-secondary:hover {
  background-color: rgba(var(--dark-blue-rgb), 0.25);
}

.btn-inverse {
  color: var(--dark-blue);
  background-color: #fff;
}

.btn-inverse:hover {
  color: var(--light-blue);
}

.logo {
  padding-top: 4.25rem;
  max-width: 1110px;
  margin-inline: auto;
}

header {
  padding-inline: 10.3125rem;
  background-image: url("../../assets/home/bg-pattern-header.svg");
  background-repeat: no-repeat;
  background-size: 79%;
  background-position-x: 45vw;
  background-position-y: -51vh;
}

.hero-flex {
  max-width: 1110px;
  padding-top: 5rem;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 6rem;
}

.main-copy {
  padding-bottom: 10rem;
  max-width: 540px;
}

.main-copy p {
  margin-block: 3rem;
  line-height: 1.5rem;
  font-size: 1.125rem;
}

.main-copy .btn {
  box-shadow: 0rem 1.25rem 1.5rem -0.75rem rgba(var(--grey-rgb), 0.65);
}

.infographic img {
  max-width: 30rem;
}